<!DOCTYPE html>
<html lang="fr">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <head>
    <title> Make Your Own Story</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link hreh="STATIC/jquery/jquery-2.2.0.js">
   <link href='https://fonts.googleapis.com/css?family=Unica+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">    
    <link rel="stylesheet" href="personnages.css">
    </head>
    <body>
    
        <div class="row">
            <div class="col-sm-3"> 
                <img id="logo" src="MYOS_logo.png">
            
            </div>
            <div class="col-sm-9">
                
                <ul id="menu2">
                    <a href="Acceuil.html" id="menu"> MENU</a>
                    
                    <li> <a href="regles.html"> RÈGLES </a></li>
                    
                    <li> <a href="concept.html"> CONCEPT </a></li>
        
                    <li> <a href="#"> COMMENTAIRES </a></li>
                    
                    <li> <a href="equipe.html"> ÉQUIPE </a></li>
                    
                    <li> <a href="credits.html"> CRÉDITS </a></li>
                
                </ul>
            
            </div>
        </div>
        <div class="row center">
            <div class="col-md-offset-3 col-md-6"> 
            <p>CHOISIR UN PERSONNAGE...</p></div>
     </div>
           <div class="row imgPerso" >
        <div class="col-md-offset-1 col-md-3 centre">
            <div class="imgCrop">  
            <img class="personnage" src="IMG/PERSONNAGES/SIMON.png">
            
            </div>
            <div class="row"> <p>SIMON</p></div>
               </div>
               
               <div class="col-md-3 centre">
                   <div class="imgCrop">
               <img class="personnage" src="IMG/PERSONNAGES/SACHA.png">
                       </div>
                   <div class="row"> <p>SACHA</p></div>
               </div>
        
               <div class="col-md-3 centre">
               <div class="imgCrop">
                   <img class="personnage" src="IMG/PERSONNAGES/LOUISE.png">
                   
                   </div>
                   <div class="row"> <p>LOUISE</p></div>
               </div>
        
        </div>
       
        
        </div>

        
        
        
        
         <footer> <a href="https://www.facebook.com/myos2016/?fref=ts" target="_blank" ><img class="icone" src="ICONE/facebook.png"></a> </footer>

    
    </body>
</html>